<article class="card-beer">
  <header>
    <div><img src="{{this.image_url}}" class="img-card"/></div>
    <h4>{{this.name}}</h4>
    <p>{{this.tagline}}</p>
  </header>
  <section class="desc-beers">
    <p>{{this.description}}</p>
  </section>
</article>