<section class="random-beer">
  <div class="img-random">
    <img src="{{this.image_url}}"/>
  </div>
  <article class="info-random">
    <header>
      <h3>{{this.name}}</h3>
    </header>
  </article>
</section>
{{this.name}}